<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCkaDmEv6Recfh_t7IuXzVlBvFnYWYTyuE</string>
	<key>GCM_SENDER_ID</key>
	<string>88150142578</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.brunocardozo.fitwayApp</string>
	<key>PROJECT_ID</key>
	<string>fitway-app-cad65</string>
	<key>STORAGE_BUCKET</key>
	<string>fitway-app-cad65.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:88150142578:ios:5c696aad8c2b171eeb5ceb</string>
</dict>
</plist>